<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remindme.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16"
        android:targetSdkVersion="17" />
	<!-- TODO Push Notification Cloud Google 
	<permission android:name="remind.me.permission.C2D_MESSAGE"
	    android:protectionLevel="signature"></permission>
	<uses-permission android:name="remind.me.permission.C2D_MESSAGE"/>
	 App receives GCM messages. 
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	 GCM connects to Google Services. 
	<uses-permission android:name="android.permission.INTERNET" /> 
	GCM requires a Google account. 
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	 Keeps the processor from sleeping when a message is received. 
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
	     android:permission="com.google.android.c2dm.permission.SEND" >
  	<intent-filter>
    	<action android:name="com.google.android.c2dm.intent.RECEIVE" />
    	<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
    	<category android:name="my_app_package" /> 
 	   	
 	 </intent-filter>
	</receiver>-->
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true">
        <!--android:theme="@android:style/Theme.NoTitleBar" -->
        
         
        <activity
            android:name="RemindSplashActivity"
            android:noHistory="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="RemindNotifiReceiverActivity"></activity>
        <activity android:name="RemindActivity"></activity>
        <activity android:name="RemindMenuActivity"></activity>
        <activity android:name="RemindNewActivity"></activity>
        <activity android:name="RemindPendingTaskActivity"></activity>
        <activity android:name="RemindCompletedTaskActivity"></activity>
        <activity android:name="com.remindme.ui.RemindDayActivity"></activity>
        <activity android:name="RemindTagsActivity"></activity>
        <!-- <activity android:name="RemindSplashActivity"></activity>-->
        <activity android:name="RemindTaskActivity"></activity>
        <activity android:name="RemindTagTaskActivity"></activity>
        <activity android:name="com.remindme.ui.RemindTodayActivity"></activity>
       <!-- <activity android:name="RemindAlertDialog"
            android:theme="@android:style/Theme.Holo.Dialog"></activity>-->
        <activity android:name="RemindEditActivity"></activity>
        <activity android:name="DialogDelayActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name="CalendarActivity">
    
     
    <intent-filter>
        <action android:name="android.intent.action.PICK" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="vnd.android.cursor.dir/vnd.com.remind.me.calendar.date" />
    </intent-filter>
    <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="vnd.android.cursor.dir/vnd.com.remind.me.calendar.date" />
    </intent-filter>
</activity>

        <receiver android:name="NotificationSender"/>
        
        <service 
         android:enabled="true" 
         android:name="com.remindme.services.NotificationIntentService"></service>
        
        <service 
            android:enabled="true"
            android:name="com.remindme.services.NotificationDelayService"></service>
        
        <service 
            android:enabled="true"
            android:name="com.remindme.services.NotificationManagementService"></service>
        
        <service 
            android:enabled="true"
            android:name="com.remindme.services.NotificationRestartService"></service>
        
    </application>

</manifest>